
<div style="margin-top:-105px">

     <div class="row justify-content-md-center text-center">
            <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 0 gray">
                <i class="bi bi-hdd-fill"></i>

                <h3>Back End</h3>
                <p>
                    Trabajo desde la estructuracion de la base de datos con EntityFramework pasando por un proceso de analisis de negocio y definición de la arquitectura a usar de los proyectos donde pueda aportar gran capacidad de analisis
                </p>
                <p class="text-primary cabecera">
                    Stack:
                </p>
                <p>
                    ASP .NET Core, Sql Server
                </p>
                <p class="text-primary cabecera">
                    Experiencias:
                </p>

                <ul>
                    <li>Web Apis</li>
                    <li>ASP.NET Core</li>
                    <li>Entity Framework Core</li>
                    <li>Blazor</li>
                    <li>Querys espaciales</li>
                    <li>Linq</li>
                    <li>ASP.NET MVC</li>
                    <li>Arquitectura N CAPAS</li>
                </ul>
            </div>


            <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow:0 5px 0 gray">
               <i class="bi bi-credit-card-2-front"></i>

                <h3>Front End</h3>
                <p>
                    Puedo crear front end robustos a medida del cliente los cuales cumpliran con los requerimientos del cliente.
                </p>
                <p class="text-primary cabecera">
                    Stack:
                </p>
                <p>
                    Angular, CSS puro, Blazor
                </p>
                <p class="text-primary cabecera">
                    Experiencias:
                </p>

                <ul>
                    <li>Boostrap</li>
                    <li>Blazor</li>
                    <li>Angular</li>

                </ul>
            </div>
     </div>

</div>

